.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 115, 0.3);
}

.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
}

.searchbar button img {
  width: 25px;
}

.searchbar button {
  border: 0;
  border-radius: 70%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
